{% extends 'blog/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <img class="rounded-circle author-small-img" src="{{ object.author.profile.image.url }}">
                <small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            {% if object.author.id == user.id %}
                <div class="border-top pt-3">
                    <small class="text-muted">
                        <a class="btn btn-outline-info" href="{% url 'post-update' object.id %}">Update</a>
                    </small>
                    <small class="text-muted">
                        <a class="btn btn-outline-danger" href="{% url 'post-delete' object.id %}">Delete</a>
                    </small>
                </div>
            {% endif %}
        </div>
    </article>
{% endblock %}